body {
    background-image: url(pictures/fruit\ backgroud.jpg);
    background-color: antiquewhite;
    background-repeat: no-repeat;
    /*background-position: center;*/
    background-size: cover;
    background-color: #ccc;
    /* position: relative; */
}

h1 {
    /* color: blue; */
    font-weight: 900;
    background-color: rgb(128, 130, 240);
    /* text-decoration: underline; */
    text-align: center;
    width: fit-content;
    margin: auto;
    margin-bottom: 20px;
}

h2 {
    /* margin: auto; */
    text-align: center;
    background-color: lightcoral;
    width: fit-content;
    margin: auto;
}

span {
    font-size: 18px;
    color: rgb(153, 51, 51);
}

.container {
    background-color: lightblue;
    margin-top: 100px;
    border: 3px solid black;
    text-align: center;
    width: fit-content;
    padding: 20px;
    margin: auto;
    /* position: absolute;
           top: 50%;
           left: 50%;
           transform: translate(-50%, -50%);
        */
}


/* .quantity-box {
    background-color: antiquewhite;
    }
    */

.calculate-btn:hover {
    transform: scale(0.98);
}

option {
    background-color: rgb(191, 210, 216);
}


/* [type='submit']:hover {
    transform: scale(0.98);
} */


/**!Why doesnt the color change to red?*/

.injection.error {
    /* text-align: center; */
    margin: 10px auto;
    color: red;
    background-color: rgb(216, 226, 230);
    font-size: 18px;
    border: 3px solid red;
    width: fit-content;
}

.injection.success {
    margin: 10px auto;
    color: blue;
    background-color: rgb(216, 226, 230);
    font-size: 18px;
    border: 3px solid blue;
    width: fit-content;
}


/* Cart page styling */

.cart-text {
    text-align: center;
    font-weight: bolder;
    background-color: darkkhaki;
    width: fit-content;
    margin: 20px auto;
    color: darkgreen;
    font-size: 30px;
    border: 5px solid black;
}

.cart-img {
    /* text-align: center; */
    display: block;
    margin: auto;
    width: 300px;
    /*these two lines also work for some reason ??but not centered in the middle:
        float: left;
        margin: 30px 60px; */
    /************/
    /*need more practice how to position it in the middle of page??:
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); */
}